@import '../../../theme/shared/shared.scss';

.card {
    &__layout {
        width: 100%;
    }
    &__image {
        width: 100%;
        max-height: 100%;
    }
    &__more {
        font-size: 14px;
        display: inline-block;
        margin-top: 10px;
    }
}