@import '../../../theme/shared/shared.scss';

.card {
    &__layout {
        width: 100%;
    }
    &__title {
        font-size: $base-font-size;
    }
    &__image {
        width: 100%;
        max-height: 100%;
    }
    &__more {
        display: inline-block;
        margin-top: 10px;
    }
}

// TODO: check inheritance about text-align:center
@media screen and (max-width: $max-mobile-page-width) {
    .card {
        &__detail {
            text-align: left;
        }
    }
}