@import '../../theme/shared/shared.scss';

.form {
    margin: $main-block-margin;

    &__title {
        text-align: center;
        font-size: $base-font-size;
        font-weight: $base-font-weight;
    }

    &__container {
        margin-bottom: 20px;
    }

    &__input {
        min-width: 370px;
        padding: 15px;
        border: 1px solid $color-dark-grey;
        border-radius: $base-border-radius;

        &:focus {
            border-color: $color-light-blue;
        }
    }

    &__button {
        text-align: center;
    }
}

@media screen and (max-width: $max-mobile-page-width) {
    .form {
        &__input {
            width: 100%;
        }
    }
}