@import '../../theme/shared/shared.scss';

.form {
    &__title {
        text-align: center;
        font-size: $base-font-size;
        font-weight: $base-font-weight;
        padding: 0 0 10px 0;
    }

    &__container {
        margin-bottom: 20px;
    }

    &__inner {
        margin-bottom: 20px;
    }

    &__field {
        color: $color-light-blue;
        padding: 15px;
        width: 100%;
        border: 1px solid $color-dark-grey;
        border-radius: $base-border-radius;
        appearance: none;

        &:focus {
            border-color: $color-light-blue;
        }

        &--select {
            background: transparent;

            appearance: none;
            // The select element is set to required
            // as long as the selected options value
            // is empty the element is not valid.
            &:invalid {
              color: gray;
            }
            
            // Styling for browsers which do support
            // styling select option elements directly
            [disabled] {
              color: gray;
            }
        }
    }

    &__select-option {
        color: gray;
    }

    // TODO: make icon css, add action on hover (transition)
    &__styled-select {
        background: url('images/down-arrow-select.svg') no-repeat 97%;

        &:hover {
            cursor: pointer;
        }
    }    

    &__button {
        text-align: center;
    }
}

@media screen and (max-width: $max-mobile-page-width) {
    .form {
        &__field {
            width: 100%;
        }
    }
}