@import '../../theme/shared/shared.scss';

.form {
    &__title {
        text-align: center;
        font-size: $base-font-size;
        font-weight: $base-font-weight;
    }

    &__container {
        margin-bottom: 20px;
    }

    &__inner {
        margin-bottom: 20px;
    }

    &__field {
        color: $color-light-blue;
        padding: 15px;
        width: 100%;
        border: 1px solid $color-dark-grey;
        border-radius: $base-border-radius;
        appearance: none;

        &:focus {
            border-color: $color-light-blue;
        }

        &--select {
            // review style
            height:48px;
            background: transparent;
        }
    }

    // TODO: make icon css, add action on hover (transition)
    &__styled-select {
        background: url('images/down-arrow-select.svg') no-repeat 98%;

        &:hover {
            cursor: pointer;
        }
    }    

    &__button {
        text-align: center;
    }
}

@media screen and (max-width: $max-mobile-page-width) {
    .form {
        &__field {
            width: 100%;
        }
    }
}