@import 'extensions/all';

// Because we used normalize css to reset our styling, we need to do some work to style our elements.
// Normally I would give this file a lot more love and attention, but i'm keeping it minimal for now.

p {
  margin: 0 0 14px;
  color: $color-lynch;
}

h1 { font-size: 24px; }

h2 {
  font-size: 14px;
  color: $color-lynch;
}

a {
  color: $color-link;
  text-decoration: none;
}

a:hover, a:active {
  opacity: 0.9;
  transition: 0.2s; // This creates a nice hover transition, especially for linked images
}

img {
  width: 100%; // Fixed images in responsive design only cause problems otherwise, it's better to use max-width for controlling those images
  height: auto;
}
