@import 'extensions/all';

p {
  margin: 0 0 14px;
  color: $color-lynch;
}

h1 { font-size: 24px; }

h2 {
  font-size: 14px;
  color: $color-lynch;
}

a {
  color: $color-link;
  text-decoration: none;
}

a:hover, a:active {
  opacity: 0.9;
  transition: 0.2s; // This creates a nice hover transition, especially for linked images
}

img {
  width: 100%;
  height: auto;
}
