@import 'extensions/all';

.footer {
  display: inline-block;
  width: 100%;
  border-top: 1px solid #d2dce8;
  background-color: #fafafa;

  h2 { margin: 0 0 6px; }
  p { margin-bottom: 6px; }

  // Need to use this inner container to create the full width footer effect
  &__inner {
    max-width: 770px;
    margin: 0 auto;
    padding: 60px 10px;
    text-align: center;
    @media only screen and (min-width: $max-design-width) {
      text-align: left;
    }
  }

  &__content {
    padding-bottom: 24px;
  }

  @media only screen and (min-width: $max-design-width) {
    // On mobile devices these classes are redundant
    // But on larger devices it is used to create the left/right footer columns, so fixed widths are okay
    &__column--left {
      float: left;
      width: 360px;
    }
    &__column--right {
      float: right;
      width: 270px;
    }
  }
}
