@import 'extensions/all';

.products-list {
  h2 { margin-bottom: 5px; }

  ul {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  &__item {
    // I don't really want my product images going above 440px else they become too pixelated
    // so I instead center align them until format becomes two columns
    // In real life I would have a discussion with the designer to find a solution.
    max-width: 440px;
    margin: 0 auto;
    list-style-type: none;
    padding-bottom: 12px;
  }

  // On the larger devices, we have enough real estate to make our products list a 2 column format
  @media only screen and (min-width: $max-design-width) {
      ul {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;
      }

      &__item {
        flex-grow: 1;
        width: calc(100% * (1/2) - 30px); // Calculate half available space minus the margin
      }

      &__item:nth-child(odd) { margin-right: 30px; }
  }
}
