
//------------------------------ Type ----//
$ct-light: #FFFFFF;
$ct-mid: #697B95;
$ct-dark: #101820;

//------------------------------ Link ----//
$cl-rest: #008FFF;
$cl-hover: #0076D1;

//------------------------------ UI ----//
$c-one: #76E691;
$c-two: #53B16A;
$c-three: #FAFAFA;
$c-four: #D2DCE8;
