
//------------------------------ Type ----//
$ct-light: #FFFFFF;
$ct-mid: #ececec;
$ct-dark: #1d1d1d;

//------------------------------ Link ----//
$cl-rest: #4234D4;
$cl-hover: lighten($cl-rest, 15%);

//------------------------------ UI ----//
$c-one: #D4345C;
$c-two: #1ACEA1;

$bg-from: rgba(7, 79, 233, 1);
$bg-to: rgba(255, 190, 11, 1);
