@import '../shared/variables.scss';

html {
    box-sizing: border-box;
    font-family: $base-font-family;
    font-weight: $base-font-weight;
    font-size: $base-font-size;
    text-align: $base-text-align;
    min-height: 100%;
    background-color: $color-white;
    color: $base-color;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: $color-white;
    color: $color-neutral-primary;
    height: 100%;
    max-width: 770px;
    margin: 0 auto;
    text-align: center;
}

button {
    cursor: pointer;
    outline: none;
}

button, input, select, textarea {
    font-family: $base-font-family;
}
