h1 {
    font-size: em(28);
    font-weight: $base-bold-font-weight;
    color: $base-color;
}

h3 {
    margin-bottom: 10px;
}

p {
    margin: 0;
    padding: 0;
    line-height: 21px;
}

a {
    text-decoration: none;
    color: $color-light-blue;

    &:hover {
        text-decoration: underline;
    }
}