$base-font-family: 'Arial';
$base-font-weight: 400;
$base-bold-font-weght: 700;
$base-font-size: 14px;
$base-text-align: left;
$base-color: #000;
$base-line-height: 18px;


$color-white: #fff;
$color-neutral-primary:#697b95;