<div class="module form">
    <div class="g">
        <form class="form__form">
        
            <div class="gi gi-md-2"></div>
            <div class="gi gi-md-8">
                <h2 class="module__title module__title--light form__title">Form title</h2>
                <div class="g">
                    <div class="gi gi-p gi-md-6">
                        <input type="text" placeholder="First name" id="first-name" name="first-name" />
                    </div>
                    <div class="gi gi-p gi-md-6">
                        <input type="text" placeholder="Last name" id="last-name" name="last-name" />                        
                    </div>
                    <div class="gi gi-p gi-md-6">
                        <input type="email" placeholder="Email address" id="email" name="email" />                        
                    </div>
                    <div class="gi gi-p gi-md-6">
                        <select name="city" id="city">
                            <option value="">City</option>
                            <option value="Auckland">Auckland</option>
                            <option value="Wellington">Wellington</option>
                            <option value="Christchurch">Christchurch</option>
                            
                        </select>
                    </div>
                    <div class="gi gi-p">
                        <input type="submit" value="Submit" class="c-btn c-btn--pri"/>
                    </div>
                </div>                    
            </div>
            <div class="gi gi-md-2"></div>
        </form>
    </div>
</div>