<div class="module pageheader">
    <div class="g">
        <div class="gi gi-p gi-md-2"></div>
        <div class="gi gi-p gi-md-8">
            <h1 class="pageheader__title">A front-end test of sorts</h1>
        </div>
        <div class="gi gi-p gi-md-2"></div>
    </div>
</div>