<div class="module scroll-gallery">

    <div class="g">
        <div class="gi gi-md-2"></div>
        <div class="gi gi-p gi-md-8">
            <div class="g">
                <div class="gi gi-p">
                    <div class="scroll-gallery__swiper">
                        <div class="swiper-wrapper">
                            {{> 02.components/scroll-gallery-item }}
                            {{> 02.components/scroll-gallery-item }}
                            {{> 02.components/scroll-gallery-item }}
                            {{> 02.components/scroll-gallery-item }}
                            {{> 02.components/scroll-gallery-item }}
                            {{> 02.components/scroll-gallery-item }}
                        </div>
                    </div>
                </div>
            </div>
        </div>         
        <div class="gi gi-md-2"></div>

    </div>

</div>