<div class="module snippets">
    <div class="g">
        <div class="gi gi-md-2"></div>
        <div class="gi gi-p gi-md-8">
            <div class="g">
                {{> 02.components/snippet }}
                {{> 02.components/snippet }}
            </div>

        </div>

        <div class="gi gi-md-2"></div>
        
    </div>
</div>