<div class="module spacer">
    <div class="g">
        <div class="gi gi-md-5"></div>
        <div class="gi gi-md-2">
            <div class="spacer__accent"></div>
        </div>
        
        <div class="gi gi-md-5"></div>
        
    </div>
</div>