/**
 * SETTINGS.BASE
 *
 * @description : Key application variables and settings
 *
 */

$base-font-size:    16px;
$base-line-height:  1.25rem;

// Spacing unit for calculating consistent margins/padding etc
$spacer: 8px; // 20px;

$border-radius: 5px;
