/**
 * GENERIC.FONT.OPENSANS
 *
 * @description : A default font included for demonstration
 *                Remove this if you're not using it…
 *
 */

// Regular
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style:  normal;
}

// Italic
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-italic-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style:  italic;
}

// Bold
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans/opensans-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style:  normal;
}
