input {
    border-radius: $border-radius;
    border: 1px solid $col-borders;
    width: 100%;
    font-size: rem(14px);
    line-height: rem(16px);
    padding: 16px 20px;
    margin-bottom: 21px;
    background-color: $col-input-bg;
    transition: box-shadow 0.4s;
    box-shadow: 
        2px 2px 0px rgba($col-brand-secondary-accent, 0), 
        -2px 2px 0px rgba($col-brand-secondary-accent, 0), 
        -2px -2px 0 rgba($col-brand-secondary-accent, 0), 
        2px -2px 0 rgba($col-brand-secondary-accent, 0); 
    &:focus {
        outline: none;
        box-shadow: 
            2px 2px 0px rgba($col-brand-secondary-accent, 1), 
            -2px 2px 0px rgba($col-brand-secondary-accent, 1), 
            -2px -2px 0 rgba($col-brand-secondary-accent, 1), 
            2px -2px 0 rgba($col-brand-secondary-accent, 1);

    }
}

input[type=submit]{
    max-width: 270px;
    margin-left: auto;
    margin-right: auto;    
    display: block;
    
}
