@import '../../main';

@media screen and (min-width: 640px) {
  .signup__container {
    width: $grid-columns-8;
    margin: 0px auto;
  }

  .signup__form {
    > :nth-child(odd) {
      padding-right: 15px;
    }

    > :nth-child(even) {
      padding-left: 15px;
    }
  }
}

@media screen and (max-width: 639px) {
  .signup__form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .signup__container {
    padding: 0px 10px;
  }
}

.signup__container {
  text-align: center;
  max-width: 780px;
}

