$base-font-family: 'Arial';
$base-font-weight: 400;
$base-bold-font-weight: 700;
$base-font-size: 14px;
$base-text-align: left;
$base-color: #101820;
$base-line-height: 18px;

$base-border-radius: 5px;

$color-white: #fff;
$color-neutral-primary: #697b95;
$color-light-green: #76e691;
$color-dark-green: #53b16a;
$color-light-blue: #008fff;
$color-light-grey: #fafafa;
$color-dark-grey: #d2dce8;

$max-mobile-page-width: 768px;
$min-desktop-page-width: 769px;

$main-margin-bottom: 60px;
