$base-font-family: 'Arial';
$base-font-weight: 400;
$base-bold-font-weight: 700;
$base-font-size: 14px;
$base-text-align: left;
$base-color: #101820;
$base-line-height: 18px;

$base-border-radius: 5px;

$color-white: #fff;
$color-neutral-primary: #697b95;
$color-light-green: #76e691;
$color-dark-green: #53b16a;

$max-mobile-page-width: 840px;
$min-desktop-page-width: 841px;