<div class="gi gi-p gi-md-6 snippet">
    <a href="#">
        <img class="snippet__image" src="https://picsum.photos/370/198?random" />
    </a>
    <h2 class="module__title snippet__title">Snippet title</h2>
    <p class="snippet__intro">
        Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.
    </p>
    <p><a href="#">View some more</a></p>
</div>