    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>
    <script>
        var mySwiper = new Swiper ('.scroll-gallery__swiper', {
            // Optional parameters
            slidesPerView: 3.25,
            spaceBetween: 30,
            freeMode: true,
            breakpoints: {
                // when window width is <= 320px
                320: {
                    slidesPerView: 1.25,
                    spaceBetween: 10
                },
                // when window width is <= 480px
                480: {
                    slidesPerView: 2.25,
                    spaceBetween: 20
                }
            }
        });

        
    </script>

</body>
</html>