// Base type treatment
$base-font-size: 1.4rem;
$base-line-height: 1.8rem;
$base-letter-spacing: 0.23px;

// Spacing sizes used for margins and padding
$spacing-xl: 9rem;
$spacing-l: 6rem;
$spacing-m: 3rem;
$spacing-s: 1.5rem;

// Base radius for border-radii
$base-radius: 5px;

// Max-width for page containers
$max-container-width: 780px;

// Breakpoint width for mobile sizes
$mobile-breakpoint-width: 600px;
