// UTILITY STYLES
// Utilities are useful in situations where you need to make a very common
// but generic modification, and writing a component modifier for it might be
// a little "overkill". They are also useful for reseting specific styles.
// Utilities are intended to rule all other styling and so generally use
// "!important" specificity.
// Note: Utilities are for special cases -- do not use them all the time!

// [SPACING]
.u-spacing-top { margin-top: $spacing!important; }
.u-spacing-right { margin-right: $spacing!important; }
.u-spacing-bottom { margin-bottom: $spacing!important; }
.u-spacing-left { margin-left: $spacing!important; }

// [OTHER]
.u-bold { font-weight: bold!important; }

// [RESET]
.u-no-margin { margin: 0!important; }
.u-no-margin-top { margin-top: 0!important; }
.u-no-margin-right { margin-right: 0!important; }
.u-no-margin-bottom { margin-bottom: 0!important; }
.u-no-margin-left { margin-left: 0!important; }
.u-no-text-indent { text-indent: 0!important; }
