// Variables are useful for storing commonly used values such as
// common colours and spacing, this helps us to reduce code repetition,
// improve clarity of our styles and general maintainability.

// [Breakpoints]

// The maximum width of our design is 780px (770 plus 10 padding), beyond that point the design does not change
$max-design-width: 780px;

// The maximum design width excluding padding
$max-width: 770px;

// [Spacing]

$spacing: 10px;

// [Colours]

$color-white: #fff;
$color-link: #008fff;
$color-lynch: #697b95;


// [Spacing]

$spacing: 30px;
$spacing-small: 20px;
$spacing-smaller: 8px;
$spacing-smallest: 2px;
