// Variables are useful for storing commonly used values such as
// common colours and spacing, this helps us to reduce code repetition,
// improve clarity of our styles and general maintainability.

// [Colours]

$color-white: #fff;
$color-background: #FCF6F6;
$color-header-background: #E1F8FE;
$color-dompost-blue: #23C2FC;
$color-title-white: #fdffff;
$color-divider: #C0BDBE;
$font-color-standard: #45444B;

// [Spacing]

$spacing: 30px;
$spacing-small: 20px;
$spacing-smaller: 8px;
$spacing-smallest: 2px;
