html {
  font-size: $pixel-size;
}
body {
  font-family: $font-body;
  font-size: $font-size-base;
  font-weight: normal;
  line-height: 1.125rem;
  letter-spacing: -0.025rem;
  color: $ct-mid;
  text-align: left;
}

h1 {
  font-family: $font-title;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.875rem;
  letter-spacing: -0.025rem;
  color: $ct-dark;
}

h2 {
}

h3 {
  font-weight: bold;
}

a {
  color: $cl-rest;
  text-decoration: none;
  transition: color 0.3s $easing 0s;
  &:hover {
    color: $cl-hover;
    transition: color 0.6s $easing 0s;
  }
  &:active {
    color: darken($cl-rest, 5%);
    transition: color 0.15s $easing 0s;
  }
}

